@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Rampart+One&family=Rubik+Moonrocks&display=swap');


body{

font-weight: 400;
font-style: normal;   
display: table;

background-repeat: no-repeat;
width: 100%;
padding: 100px 0;
background-position: 40% 50%;
background-size: cover;
color: rgb(5, 20, 68);
background-position: center;
text-shadow: #05668d71 ;

background: 
    linear-gradient(45deg, #4d7a94 25%, transparent 25%), 
    linear-gradient(-45deg, #4d7a94 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #4d7a94 75%), 
    linear-gradient(-45deg, transparent 75%, #4d7a94 75%);
background-size: 45px 45px;
background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
background-repeat: no-repeat;
background-size: auto;

}

.buttonProduto,.buttonRemover,.buttonCadastrar,.buttonCliente,.buttonAgendar{
    background-color: #3700ff; /* Cor vermelha */
    color: #ffffff; /* Cor do texto branco */
    border: none; /* Remover a borda */
    padding: 5px 20px; /* Espaçamento interno */
    font-size: 12px; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; 
}

h1,h3,h4,h5{
/*font-family: "Nosifer", sans-serif;*/
/*font-family: "Rubik Moonrocks", sans-serif;*/
font-family: "Rampart One", sans-serif;
align-items: center;
text-align: center;

color: #292474,#ffffff;


}
